.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  color: #f1f1f1;
  /* background-color: black; */
}

.info-week {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.info-numbers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.info-totalcustomers-container,
.info-totalprojects-container,
.info-totalhours-container {
  display: flex;
  flex-direction: column;
  width: 150px;
}

@media only screen and (max-width: 622px) {
  .info-totalcustomers-container,
  .info-totalprojects-container,
  .info-totalhours-container {
    width: 100px;
  }
  .info-container {
    margin: 0;
  }
}

.info-totalcustomers-text,
.info-totalprojects-text,
.info-totalhours-text {
  /* font-size: 11px; */
  font-size: 1rem;
}

.info-totalcustomers-customers,
.info-totalprojects-projects,
.info-totalhours-hours {
  /* font-size: 40px; */
  font-size: 4rem;
  color: #a9e8e8;
}

.info-button {
  /* margin-right: 20px;
  margin-left: 20px; */
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: #f1f1f1;
}
