.timeentry-container {
  flex: 1.6;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 400px;
  margin-top: 20px;
  color: #f1f1f1;
  font-family: "Verdana";
}

.timeentry-form-wrapper {
  flex: 1.6;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.timeentry-form-text {
  margin-left: 5px;
  font-size: 2rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1038px) {
  .timeentry-form-wrapper {
    align-items: center;
  }
  .form-footer,
  .form-inputs {
    justify-content: center;
  }
}

.timeentry-form {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  max-width: 520px;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 340px;
}

.timeentry-form > .form-inputs > input[type="text"],
.timeentry-form > .form-inputs > input[type="number"],
.timeentry-form > .form-inputs > input[type="date"],
.dropdown-wrapper > input {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  outline: none;
  width: 100px;
  min-width: 150px;
  height: 35px;
  margin: 5px;
  color: #f1f1f1;
  font-size: 14px;
  background: transparent;
  text-align: center;
}

.timeentry-form > .form-inputs > input[type="text"]::placeholder,
.timeentry-form > .form-inputs > input[type="number"]::placeholder,
.dropdown-wrapper > input::placeholder {
  color: #f1f1f1;
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
.timeentry-form
  > .form-inputs
  > input[type="number"]::-webkit-outer-spin-button,
.timeentry-form
  > .form-inputs
  > input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.timeentry-form > .form-inputs > input[type="number"] {
  -moz-appearance: textfield;
}

.timeentry-form-button {
  background-color: #0d9940;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 20px 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5px;
}

.form-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-wrapper > ul {
  list-style-type: none;
  background-color: #303030;
  border-radius: 5px;
  width: 155px;
  margin-left: 5px;
  position: absolute;
  top: 60%;
  padding: 0;
}

.dropdown-wrapper > ul > li {
  margin: 10px;
}

.dropdown-wrapper > ul:hover {
  cursor: pointer;
}
