.weekly-container {
  display: flex;
  flex-direction: column;
  /* background-color: #f1f1f1; */
  width: 100%;
  margin-bottom: 40px;
  height: auto;
  font-family: "Verdana";
}

.weekly-container > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.week-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background-color: #094644;
  /* background-color: #3d9988; */
  border-radius: 5px;
  padding: 5px;
}

.week-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.week-number {
  margin: 10px;
}

.week-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.week-hours > p {
  margin-left: 5px;
}

.week-csv {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.week-csv > button {
  border: none;
  background: transparent;
  color: #f1f1f1;
  font-size: 12px;
  text-decoration: underline;
  padding: 0;
}

.week-csv > button:hover,
.week-buttons > button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 430px) {
  .week-hours {
    width: 60px;
  }
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggle-text {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-left: 10px;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 25px;
  top: 0;
  right: 4px;
  bottom: 0;
  left: 0;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #1d1d1d;
  border-radius: 50%;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: white;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #0d9940;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
}

.tabs-detailed {
  margin-right: 10px;
}

.tabs-summary {
  margin-left: 10px;
}

.tabs-detailed:hover,
.tabs-summary:hover {
  cursor: pointer;
}
