.timelist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  color: #f1f1f1;
  font-size: 12px;
  background-color: #115c5a;
}

.timelist-container:hover {
  cursor: pointer;
}

.timelist-detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timelist-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.timelist-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.timelist-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.line {
  border-bottom: 1px solid #f1f1f1;
  width: 85%;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-container > *,
.timelist-columns > * {
  margin: 5px;
  width: 150px;
}

@media only screen and (max-width: 900px) {
  #description,
  #comment {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .timelist-summary {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #date {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #hours {
    width: 100px;
  }
  .timelist-list,
  .timelist-columns {
    width: 100%;
  }
  .list-container {
    width: 100%;
    justify-content: space-between;
  }
}
