.navbar {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  background-color: #094644;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 51%;
}

.navbar-title {
  font-size: 20px;
  margin-left: 50px;
  color: #f1f1f1;
  /* color: #1d1d1d; */
  /* font-family: "Copperplate"; */
  font-family: "Verdana";
}

@media only screen and (max-width: 380px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    height: 15vh;
  }
  .navbar-title {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
